<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharebicycle.www">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="net.zgcyk.person.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 百度地图 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.sharebicycle.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ww_app_theme">
        <service
            android:name="com.sharebicycle.service.BluetoothLeService"
            android:enabled="true" />
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="68d5822ce5f74fdd91b521b324cad473" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>
        <!-- glide图片加载 -->
        <meta-data
            android:name="com.sharebicycle.GlideConfiguration"
            android:value="GlideModule" />
        <!-- 友盟key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ba2c214ad1561f6e00035c"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="SB"></meta-data>
        <!-- 友盟分享 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- wechat callback-->
        <activity
            android:name="com.sharebicycle.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--dingding-->

        <!-- tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106021410" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- 微信支付 -->
        <activity
            android:name="com.sharebicycle.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!-- alipay sdk end -->
        <activity
            android:name="com.sharebicycle.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sharebicycle.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.VerifyPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.PersonCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.SmartLockClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.SmartLockOpenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.HouseSellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.HouseRentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.HouseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sharebicycle.activity.HouseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.sharebicycle.activity.ImageSelectActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.PersonalDataActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.EditUserNameActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.IdentityAuthenticationResultActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.IdentityAuthenticationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.MessageListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.MyWalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.ShareActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.TicketListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.BussnessDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.MyFoucsHouseListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.RechagerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.RidingHistoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.RidingDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.OpenActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.CashPledgeStep"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.sharebicycle.activity.RidingFinishActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>